name: Waka Readme

on:
  schedule:
    - cron: '0 8 * * *' # 1:00 UTC-7:00
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@v5
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

          BADGE_STYLE: "flat-square"
          SHOW_COMMIT: "True"
          SHOW_DAYS_OF_WEEK: "True"
          SHOW_EDITORS: "True"
          SHOW_LANGUAGE_PER_REPO: "True"
          SHOW_LANGUAGE: "True"
          SHOW_LINES_OF_CODE: "True"
          SHOW_LOC_CHART: "True"
          SHOW_OS: "True"
          SHOW_PROFILE_VIEWS: "True"
          SHOW_PROJECTS: "False"
          SHOW_SHORT_INFO: "True"
          SHOW_TIMEZONE: "False"
          SHOW_TOTAL_CODE_TIME: "True"
          SYMBOL_VERSION: 2
